################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/.vs/exercise3/FileContentIndex
/.vs/exer3/FileContentIndex


